<h1>New recipe</h1>
<form method="POST" style="display: grid; grid-template: auto / 1fr">
  <label>Title: <input name="title" /></label>
  <label>Ingredients: <input name="ingredients" /></label>
  <label>Cooking Time: <input name="cookingTime" type="number" /></label>
  <label
    >Difficulty:
    <select name="difficulty">
      <option value="Easy">Easy</option>
      <option value="Medium">Medium</option>
      <option value="Hard">Hard</option>
    </select></label
  >
  <button type="submit">Create Recipe</button>
</form>
